.GuideNotas{
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    font-weight: bold;
}

.GuideNotas table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}
.GuideNotas thead:first-child{
    background-color: var(--orange);
    text-align: center;
}

.GuideNotas th, .GuideNotas td {
    text-align: center;
    border: 1px solid black;
}

.GuideNotas th, .GuideNotas td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

.GuideNotas tr:nth-child(odd){
    background-color: var(--orange);
}

.GuideNotas tr:nth-child(even){
    background-color: var(--black);
}


@media screen and (max-width: 1650px) {
    .GuideNotas {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 1150px) {
    .GuideNotas {
      grid-template-columns: repeat(1, 1fr);
    }
  }