.CalendarioContainer {
  width: 88vw;
  text-align: center;
  padding: 10px;
  background-color: var(--color-background);
}

.CalendarioContainer p,
.CalendarioContainer h2 {
  color: var(--color-text);
}

.Calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin: 20px 0;
  height: 80vh;
  padding: 10px;
  background-color: var(--color-overlay);
}

.CalendarioDay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(max-content/7);
  height: 100%;
  border: 1px solid #ccc;
  color: var(--color-text);
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
  list-style: none;
  position: relative;
}

.CalendarioDay:hover {
  background-color: var(--color-background);
}

.CalendarioDay span {
  position: absolute;
  top: 2px;
  left: 8px;
}

.CalendarioDay ul {
  position: absolute;
  font-size: 14px;
  top: 3px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.CalendarioDay li {
  list-style: none;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.CalendarioDay strong {
  width: 100px;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
}

.deleteButton {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background-color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteButton:hover {
  background-color: var(--color-primary);
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.inputContainer input {
  width: 100px;
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-overlay);
  filter: brightness(0.8);
  color: var(--color-text);
}

.inputContainer button {
  font-size: 12px;
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
}

.inputContainer button:hover {
  background-color: var(--color-primary-light);
}

.selected {
  background-color: var(--color-background);
}

.empty {
  visibility: hidden;
}

p {
  margin-top: 10px;
  color: var(--color-text);
}