.Guide{
    width: calc((100vw - 420px)/5);
    background-color: var(--black);
    color: var(--text);
    border-radius: 15px 15px 0 15px;
}

.titlebar{
    background-color: var(--orange);
    padding: 5px 0 3px 20px;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
}

.Guide h1{
    font-size: 1.3em;
}

.titlebar button{
    font-size: 1.5em;
    margin-right: 30px;
    margin-top: -5px;
    color: white;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.titlebar .exit:active{
    filter: brightness(0.8);
}

.titlebar .exit:hover{
    color: red;
}

table.Notas{
    width: 70%;
    height: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}   

table.Notas tr{
    font-size: 1.5em;
    text-align: center; 
    background-color: green;
}